:root {
    --background-dark: #111111;
    --background-medium: #191919;
    --background-light: #f7f7f7;
    --background-content: #d3d3d3;
    --pure-white: #ffffff;
    --white: #f7f7f7;
    --black: #191919;
    --yellow: #ecd306;
    --red: #df091c;
    --footer-text:  #f7f7f7;
    --copyright-text: #757575;
}
::selection {
    color: var(--white);
    background-color: var(--black);
}
body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--black);
}
h1, h2, h3, p {
    margin: 0;
}
a,
a:visited {
    color: var(--black);
}
a:hover {
    color: var(--red);
}
img {
    width: 100%;
}
strong {
    font-weight: 700;
}

/* index.html */
.pageContainer .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    padding: 0 8vw;
    background-color: var(--black);
    color: var(--white);
}
.heroSection h1.hello {
    font-size: calc(36px + (60 - 36) * ((100vw - 300px) / 1300));
    font-weight: 700;
    line-height: 1.1;
    color: var(--white);
    -webkit-text-stroke: 2px var(--red);
    -webkit-text-fill-color: var(--white);
}
span.scott {
    color: var(--red);
    -webkit-text-fill-color: var(--red);
}
.heroSection .creativePerson {
    font-size: calc(18px + (30 - 18) * ((100vw - 300px) / 1300));
    font-weight: 400;    
    color: var(--white);
}
.pageContainer .startJourney {
    display: flex;
    flex-direction: column;
    padding: 6vh 8vw;
    background-color: var(--white);
    color: var(--black);
}
.pageContainer .startJourney h2 {
    align-self: center;
    text-align: center;
}
.journeyContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1vw;
    grid-row-gap: 4vh;
    padding: 4vh 0;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
}
img.desaturate {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: url(/elements/grayscale.svg#desaturate);
    filter: gray;
    -webkit-filter: grayscale(1);
}
img.desaturate:hover {
    filter: grayscale(0%);
    filter: none;
    -webkit-filter: grayscale(0);
    cursor: pointer;
}

/* common */
.contentContainer {
    min-height: calc(100vh - 224px);
    padding: 0 8vw;
}
.contentContainer h1 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 2vh 0;
}
.contentContainer h2 {
    font-size: 1.8rem;
    padding: 1vh 0;
}
.contentContainer h3 {
    font-size: 1.5rem;
    padding: 1vh 0;
}
.contentContainer p {
    font-size: 1.2rem;
    padding: 0 0 2vh;
}
.pageColumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 4vh;
    margin-bottom: 4vh;
}
.workPageColumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}
.pageContent {
    background-color: var(--background-content);
    padding: 2vw;
    margin-bottom: 4vh;
    border-radius: 12px;
}
@media screen and (max-width: 540px) {
    .pageContent {
        padding: 4vw;
    }
}
.pageContentWhite {
    background-color: var(--pure-white);
    padding: 0;
    margin-bottom: 4vh;
}
.pageContentTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
    border-radius: 12px;
    overflow: hidden;
}
.contentImage img {
    max-width: 1300px;
}
button.btn {
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-radius: 6px;
    height: 54px;
    padding: 0 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2vh;
}
button.btn:hover {
    background-color: var(--background-dark);
}
.playNext {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.playNext a {
    text-decoration: none;
}

/* about */
.aboutContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 4vw;
    grid-row-gap: 6vh;
    margin-bottom: 6vh;
}

/* menu */
nav {
    display: block;    
    padding: 0 8vw;
    background-color: var(--background-dark);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 987;
    overflow: hidden;
}
nav .navContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20% 80%);
    align-items: center;
    height: 60px;
}
nav .navContainer img {
    height: 38px;
    width: auto;
}
nav .navContainer .menuContainer {
    display: flex;
    justify-content: flex-end;
}
.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    padding: 0 12px;
}
.menu ul li a {
    color: var(--white);
    text-decoration: none;
}
.menu ul li a:hover {
    cursor: pointer;
    color: var(--red);
}
.menu ul li.current,
.menu ul li a.current {
    font-weight: 600;
    color: var(--red);
}

nav .navContainer .menuContainer .socialMedia a i {
    font-size: 1.2rem;
    color: var(--white);
    padding: 0 4px;
}
nav .navContainer .menuContainer .socialMedia a i:hover {
    color: var(--red);
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 164px;
    background-color: var(--background-dark);
    color: var(--footer-text);
}
footer .socialMediaFooter {
    display: flex;    
    align-items: center;
    min-height: 40px;
}
footer .socialMediaFooter a i {
    font-size: 1.2rem;
    color: var(--footer-text);
    padding: 0 4px;
}
footer .socialMediaFooter a i:hover {
    color: var(--red);
}
footer .copyRight {
    font-size: 0.9rem;
    color: var(--copyright-text);
}